extends layout
include _includes/sharedHTMLfunctions

block content
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
    .container-fluid.gallery#pictures(ng-controller="entryCtrl as ec")
        .col-xs-12.col-sm-9.col-lg-10
            .row
                .entry-main
                    a(href="https://s3.amazonaws.com/wargame-art/gallery/{{ec.entry.slug}}/{{ec.entry.mainImage.filename}}" ng-click='ec.openImageModal($event); $event.preventDefault(); $event.stopPropagation();' data-image-path="https://s3.amazonaws.com/wargame-art/gallery/{{ec.entry.slug}}/{{ec.entry.mainImage.filename}}")
                        img#mainImage.img-responsive.image.entry-thumb(ng-src='https://s3.amazonaws.com/wargame-art/gallery/{{ec.entry.slug}}/{{ec.entry.mainImage.filename}}' imageonload alt='{{ec.entry.mainImage.alt}}')
            .row.dynamic-grid(angular-grid="ec.entry.images"
            ag-grid-width="315"
            ag-gutter-size="10"
            ag-id="images"
            )
                .entry-thumb(ng-repeat="image in ec.entry.images")
                    a(href="https://s3.amazonaws.com/wargame-art/gallery/{{ec.entry.slug}}/{{image.filename}}" ng-click='ec.openImageModal($event); $event.preventDefault(); $event.stopPropagation();' data-image-path="https://s3.amazonaws.com/wargame-art/gallery/{{ec.entry.slug}}/{{image.filename}}")
                        img.img-responsive.image.entry-thumb(ng-src='https://s3.amazonaws.com/wargame-art/gallery-thumbs-450/{{ec.entry.slug}}/{{image.filename}}' imageonload alt='{{image.alt}}')
        .col-sm-3.col-lg-2.hidden-xs.side-info(ng-cloak)
            .error=message
            h2=title
            h3=subtitle
            p
                bold Система:&nbsp;
                span=system
            p
                bold Жанр:&nbsp;
                span=genre
            p
                bold Уровень:&nbsp;
                span(level-icons,level="ec.entry.level")
                span(level-name,level="ec.entry.level")
            p
                bold Дата:&nbsp;
                span=publicationDate
            p
                bold Описание:&nbsp;
                span=description
        #image-modal.closed
            button(type="button" ng-click="ec.closeImageModal()").close-button
                span.glyphicon-remove.glyphicon
            #closing-area(ng-click="ec.closeImageModal()")
            .image-wrap
                img(ng-src="{{ec.modal.image}}")
                button.arrow.prev(ng-click="ec.prevImageInModal()")
                    span.glyphicon.glyphicon-chevron-left
                button.arrow.next(ng-click="ec.nextImageInModal()")
                    span.glyphicon.glyphicon-chevron-right




block scripts
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src="../javascripts/masonry/angulargrid.min.js")
    script(src="../javascripts/masonry/ng-infinite-scroll.min.js")
    script(src="../javascripts/angular/wargame-art.js")
    script(src="../javascripts/angular/orderCtrl.js")
    script(src="../javascripts/angular/entryCtrl.js")



    script.
        //function get
        $(document).ready(function(){});
        $('.image-wrap').mouseover(function () {
            $('.close-button').removeClass('active');
        });
        $('.image-wrap').mouseleave(function () {
            $('.close-button').addClass('active');
        });
        imageLoaded = function() {
            var element = angular.element($('#mainImage'));
            var controller = element.controller();
            var scope = element.scope();

            scope.$apply(function () {
                controller.imageLoaded();
            });
        };
